*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{
  max-width: 1200px;
  margin: 0 auto  ;
}

/* Font connect */

@font-face {
    font-family: 'FuturaPT';
    src: url('./fonts/FuturaPT/FuturaPT-Medium.woff2') format('woff2'),
         url('./fonts/FuturaPT/FuturaPT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FuturaPT';
    src: url('./fonts/FuturaPT/FuturaPT-Bold.woff2') format('woff2'),
         url('./fonts/FuturaPT/FuturaPT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'FuturaPT';
    src: url('./fonts/FuturaPT/FuturaPT-Bold.woff2') format('woff2'),
         url('./fonts/FuturaPT/FuturaPT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: italic;
  }

/* Global configuration */

:root{
    --primary-background-color: #fff;
    --primary-button-color: #e4585d;
    --primary-footer-color: #14142A;
    --primary-font: sans-serif, 'FuturaPt';
    --secondary-font: 'Montserrat'
}

/* Header configuration -- Desktop */
  .welcome-page{
    background-image: url(./images/No-conteiner.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 70vh;
  }
  
  .header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
  }
  
  .right-side{
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .header-nav{
    display: flex;
    gap: 30px;
  }
  
  .header-links{
    text-decoration: none;
    font-family: var(--primary-font);
    color: black;
    font-weight: bold;
  }
  
  .login-btn {
    background-color: var(--primary-button-color);
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .welcome-background{
    background-image: url(./images/In-conteiner.png);
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    height: 100vh;
  }

  



/* Footer configuration -- Desktop */

/* Header configuration -- Mobile */

/* Footer configuration -- Mobile */

/* Index Main configuration -- Desktop */


/* Index Main configuration -- Mobile */


