*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: var(--primary-font);
}

/* Общий стиль скроллбара */
::-webkit-scrollbar {
  opacity: 0.3;
  width: 10px;            /* Толщина вертикального скролла */
  height: 5px;            /* Толщина горизонтального скролла */
}

/* Фон скроллбара */
::-webkit-scrollbar-track {
  opacity: 0.3;
  background: #f1f1f1;    /* Цвет фона трека */
  border-radius: 10px;
}

/* Сам "ползунок" (бегунок) */
::-webkit-scrollbar-thumb {
  opacity: 0.3;
  background: #f0f0f0;       /* Цвет ползунка */
  border-radius: 10px;
}

/* При наведении */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Контейнер(область видимого контента) */
.conteiner{
  max-width: 1200px;
  margin: 0 auto  ;
}

/* Font connect */

@font-face {
    font-family: 'FuturaPT';
    src: url('./fonts/FuturaPT/FuturaPT-Medium.woff2') format('woff2'),
         url('./fonts/FuturaPT/FuturaPT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FuturaPT';
    src: url('./fonts/FuturaPT/FuturaPT-Bold.woff2') format('woff2'),
         url('./fonts/FuturaPT/FuturaPT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'FuturaPT';
    src: url('./fonts/FuturaPT/FuturaPT-Bold.woff2') format('woff2'),
         url('./fonts/FuturaPT/FuturaPT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: italic;
  }

/* Global configuration */

:root{
    --primary-background-color: #fff;
    --primary-button-color: #e4585d;
    --primary-footer-color: #14142A;
    --primary-font: 'FuturaPT';
    --secondary-font: 'Montserrat';
}

/* Header configuration -- Desktop */
  .welcome-page{
    background-image: url(./images/No-conteiner.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    padding-bottom: 30px;
  }
  
  .header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
  }
  
  .right-side{
    display: flex;
    align-items: center;
    gap: 80px;
  }
  
  .header-nav{
    display: flex;
    gap: 30px;
  }
  
  .header-links{
    text-decoration: none;
    font-family: var(--primary-font);
    color: black;
    font-weight: bold;
    font-size: 18px;
  }
  
  .login-btn {
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 18px;
    background-color: var(--primary-button-color);
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .welcome-background{
    background-image: url(./images/In-conteiner.png);
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
  }

  .circle-button {
    background-color: #e4585d;
    color: #14142A;   
    width: 50px;                     
    height: 50px;
    border-radius: 50%;       
    border: none;
    font-size: 28px;
    font-weight: 900;    
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .circle-button:hover {
    background-color: #d94d4d;
    transform: scale(1.05);         
  }

  .welcome-content{
    margin-top: 60px;
    display: flex;
    gap: 130px;
  }

  .welcome-text-cont{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px
  }

  .welcome-text-cont h1{
    text-transform: uppercase;
    font-size: 50px;
  }
  .welcome-text-cont p{
    font-family: var(--secondary-font);
    font-size: 18px;
    opacity: 0.7;
  }

  .next-btn{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .next-btn span{
    font-size: 20px;
  }

/* Footer configuration -- Desktop */

/* Header configuration -- Mobile */

/* Footerpxonfiguration -- Mobile */

/* Index Main configuration -- Desktop */

/* Temple section */
.temple{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}

.temple-content{
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.temple-photo{
  z-index: -1;
}

.uzumaki{
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
}

.temple-element{
  display: flex;
  gap: 20px;
  
}


.temple-el_right{
  display: flex;  
  gap: 10px;
}

.temple-el_right h1{
  font-size: 24px;
}

.temple-el_left{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.temple-el_left h1{
  font-size: 24px;
}

.temple-el_left p{
  font-family: var(--secondary-font);
  opacity: 0.7;
}

.end{
  justify-content: end;
}

.starter{
  margin-left: -160px;
}

/* Our-courses section */

.courses-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.courses-header>h1{
  font-size: 40px;
}

.all-courses{
  text-decoration: none;
  background: none;    
  color: var(--primary-button-color);
  font-family: var(--primary-font);   
  border: none;
  font-size: 18px;
  font-weight: 550;    
  cursor: pointer;
  display: flex;
  align-items: center;
}

.courses-card{
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.courses-bloock{
  background-image: url(./images/нашикурсы/htmlback.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F7F7FC;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.left-sider{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.topper{
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  font-family: var(--primary-font);
}

.topper h1{
  font-size: 24px;
}

.reiting{
  display: flex;
  align-items: center;
  gap: 5px;
}

.new-course{
  width: 50%;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  background-color: var(--primary-button-color);
  color: white;
  border-radius: 10px;
}

.course-price{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.continue-to{
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #64617A;
  font-family: var(--primary-font);
  font-weight: 400;
}







/* Index Main configuration -- Mobile */


